.mainContent-uthyrning {
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding-top: 1rem;
    margin: auto;

    background-color: rgba(255, 255, 255, 0.78);
    width: 90vw;
    height: 80vh;
}